*{
    color: #424242;;
}
.top-bar, .branding, .nav-bar {
    display: flex;
    align-items: center;
    height: 125px;
}

.top-bar{
    background-color: #A7C4FF;
}

.top-bar .branding {
    width: 20%;
}
.top-bar .branding a #logo {
    width: 130px;
    height: 125px;
}
.top-bar .branding #title {
    padding-left: 5px;
    font-family: Unbounded;
    color: #424242;
}

.top-bar .nav-bar {
    margin-left: 15%;
    width: 80%;
    justify-content: space-around;
}

.train-dropdown{
    margin-right: 5px;
    width: 100%;
    position: relative;
    display: inline-block;

}

.top-bar .nav-bar .nav-button, .dropdown-button{
    width: 100%;
    padding: 25px;
    border: none;
    border-radius: 40px;
    margin-right: 5px;
    background-color: #A7C4FF;
    color: #424242;
    transition: 0.4s ease-in-out;
    font-family: Unbounded;   
    font-size: large; 
    text-align: center;
    text-decoration: none;
}
.top-bar .nav-bar .nav-button:hover, .dropdown-button:hover{
    background-color: #8FA9FF;
}


.train-elements{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #7f9dfd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-top: 10px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    
    
}
.train-elements a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.train-elements a:hover{
    background-color: #567dff;
}
.train-elements #first-element:hover{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.train-elements #last-element:hover{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.show {
    display: block;
}




