body {
    margin: 0;
}

/*top-bar properties*/
.top-bar {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #A7C4FF;
}

.branding {
    display: flex;
    align-items: center;
}

.branding img {
    height: 12vh; 
    width: auto;
}

/*navigation bar properties*/
.nav-bar {
    margin-left: 10vw;
    display: flex;
    flex: 1;
    align-items: center;
}

/*buttons*/
.nav-button, .dropdown-button{
    margin-right: 5px;
    border: none;
    border-radius: 40px;
    width: 100%;
    height: 8vh;
    text-align: center;
    text-decoration: none;
    line-height: 8vh;
    font-family: Unbounded;   
    font-size: 1vw; 
    transition: background-color 0.4s ease-in-out;
    background-color: #A7C4FF;
}

.nav-button:hover, .dropdown-button:hover{
    background-color: #8FA9FF;
}

/*train-dropdown and all its children properties*/
.train-dropdown{
    margin-right: 5px;
    width: 100%;    
    position: relative;
}

.train-elements{
    display: none;
    border-radius: 0.8vw;
    width: 100%;
    position: absolute;
    top: 10vh;
    background-color: #7f9dfd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
}

.train-elements a{
    padding: 1em;
    text-decoration: none;
    color: black;
}

.train-elements a:hover{
    background-color: #567dff;
}

.train-elements #first-element:hover{
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 0.8vw;
}

.train-elements #last-element:hover{
    border-bottom-left-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
}

/*Class that JS uses to show train-elements*/
.show{
    display: flex;
    flex-direction: column;
}

/*menu toggle properties*/
.menu-button {
    display: none; /* Hidden on larger screens */
}

.mobile-phone-branding {
    display: none; /* Hidden on larger screens */
}

#mobile-phone-train-button{
    display: none; /* Hidden on larger screens */
}

.mobile-phone-nav-bar{
    display: none; /* Hidden on larger screens */
}

@media only screen and (max-width: 1300px){
    
    /*hiding nav-bar to save space and make it into a dropdown*/
    .nav-bar{
        display: none;
    }

    .menu-button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: none;
        height: 8.5vh;
        width: 8.5vh;
        background-color: #A7C4FF;
        transition: 0.4s ease-in-out;
    }

    .menu-button img {
        width: 30px;
        max-width: none; 
        height: auto; 
    }

    .menu-button:hover{
        background-color: #8FA9FF;
    }

    /*button properties*/
    .nav-button, .dropdown-button{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        height: 80px;
        position: relative;
        font-size: 1.2em;
        background-color: #94b7ff;
        transition: 0.4s ease-in-out;
    }

    .mobile-phone-nav-bar{
        display: none;
        width: 300px;
        position: absolute; /* Position below the top bar */
        top: 10vh; /* Position below the top bar */
        left: 0; /* Align to the left */
        box-shadow: 8px 16px 16px 0px rgba(0,0,0,0.2);
        background-color: #A7C4FF;
        z-index: 10;
        transition: 0.4s ease-in-out;
    }
    
    /*train dropdown properties*/
    .tablet-train-elements{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 300px;
        top: 80px;
        background-color: #7f9dfd;
        z-index: 1;
    }
    
    .tablet-train-elements a{
        padding: 12px 16px;
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        transition: 0.4s ease-in-out;
    }

    .tablet-train-elements a:hover{
        background-color: #567dff;
    }
    
    /*hides the button i will be using for phone mode that
    substitutes the dropdown button cause there is no space*/
    #mobile-phone-train-button{
        display: none;
    }

    /*a class JS uses to display the dropdown when pressing the button*/
    .show-nav-bar{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px){
    /*hiding nav-bar to save space and make it into a dropdown*/
    .nav-bar{
        display: none;
    }

    /*setting the logo and menu button be in a column
    because of the lacking width space on phones*/
    .top-bar{
        flex-direction: column;
        height: 20vh
    }

    /*hiding the branding cause i want the branding be on top
    and had to create a new one behind the menu button*/
    .branding{
        display: none;
    }

    /*logo and title of website*/
    .mobile-phone-branding{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 2px #97baff;
        width: 100%;
        height: 20vh;
        background-color: #A7C4FF;
    }

    .mobile-phone-branding img{
        width: 230px;
        height: 100px;
    }

    /*a menu button that makes the nav-bar appear*/
    .menu-toggle{
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        background-color: #A7C4FF;
        transition: 0.4s ease-in-out;

    }

    .menu-button{
        border: none;
        border-radius: 20px;
        width: 70%;
        height: 70px;
        background-color: #A7C4FF;
        transition: 0.4s ease-in-out;
    }

    .menu-button img {
        width: 50px;
    }

    .menu-button:hover{
        background-color: #8FA9FF;
    }

    /*button properties*/
    .nav-button{
        border-radius: 0;
        background-color: #94b7ff;
        transition: 0.4s ease-in-out;
    }

    .mobile-phone-nav-bar{
        width: 100%;
        top: 70px;
        box-shadow: 8px 16px 16px 0px rgba(0,0,0,0.2);
        background-color: #A7C4FF;
    }

    /*hiding the dropdown button we used in desktop
    and tablet mode and changing with a simple <a>
    link that goes to the page with all the trains*/
    .train-elements, .tablet-train-dropdown{
        display: none;
    }

    #mobile-phone-train-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }



    /*a class JS uses to display the dropdown when pressing the button*/
    .show-nav-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #94b7ff;
    }

}

