body {
    margin: 0;
}

/*top-bar properties*/
.top-bar {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #A7C4FF;
}

.branding {
    display: flex;
    align-items: center;
}

.branding img {
    height: 12vh; /* Set a fixed height for the logo */
    width: auto; /* Maintain aspect ratio */
}

/*menu toggle properties*/
.menu-button {
    display: none; /* Hidden on larger screens */
}

.mobile-phone-branding {
    display: none; /* Hidden on larger screens */
}
/*navigation bar properties*/
.nav-bar {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 10vw;
}

/*buttons*/
.nav-button, .dropdown-button{
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    margin-right: 5px;
    font-family: Unbounded;   
    font-size: 1vw; 
    text-align: center;
    text-decoration: none;
    background-color: #A7C4FF;
    border: none;
    border-radius: 40px;
    transition: background-color 0.4s ease-in-out;
}

.nav-button:hover, .dropdown-button:hover{
    background-color: #8FA9FF;
}

/*train-dropdown and all its children properties*/
.train-dropdown{
    position: relative;
    margin-right: 5px;
    width: 100%;
}

.train-elements{
    display: none;
    width: 100%;
    position: absolute;
    top: 10vh;
    background-color: #7f9dfd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0.8vw;
    z-index: 50;
}

.train-elements a{
    padding: 1em;
    color: black;
    text-decoration: none;
}

.train-elements a:hover{
    background-color: #567dff;
}

.train-elements #first-element:hover{
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 0.8vw;
}

.train-elements #last-element:hover{
    border-bottom-left-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
}

#mobile-phone-train-button{
    display: none;
}

.mobile-phone-nav-bar{
    display: none;
}
/*Class that JS uses to show train-elements*/
.show{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1300px){
    /*hiding nav-bar to save space and make it into a dropdown*/
    .nav-bar{
        display: none;
    }

    .menu-button{
        display: flex;
        height: 8.5vh;
        width: 8.5vh;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: none;
        background-color: #A7C4FF;
    }

    .menu-button img {
        width: 3vw; /* Set a fixed width */
        height: auto; /* Maintain aspect ratio */
        max-width: none; /* Prevent scaling */
    }

    .menu-button:hover{
        background-color: #8FA9FF;
    }

    /*button properties*/
    .nav-button, .dropdown-button{
        border-radius: 0;
        background-color: #94b7ff;
        position: relative;
        height: 80px;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .mobile-phone-nav-bar{
        box-shadow: 8px 16px 16px 0px rgba(0,0,0,0.2);
        background-color: #A7C4FF;
        width: 300px;
        position: absolute; /* Position below the top bar */
        top: 10vh; /* Position below the top bar */
        left: 0; /* Align to the left */
        width: 300px; /* Full width */
        display: none; /* Hidden by default */
        z-index: 10;
    }
    
    /*train dropdown properties*/
    .tablet-train-elements{
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        left: 300px;
        top: 80px;
        z-index: 1;
        background-color: #7f9dfd;
    }
    
    .tablet-train-elements a{
        padding: 12px 16px;
        color: black;
        font-size: 1.2em;
        text-decoration: none;
    }

    .tablet-train-elements a:hover{
        background-color: #567dff;
    }
    
    /*hides the button i will be using for phone mode that
    substitutes the dropdown button cause there is no space*/
    #mobile-phone-train-button{
        display: none;
    }

    /*a class JS uses to display the dropdown when pressing the button*/
    .show-nav-bar{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px){
    /*hiding nav-bar to save space and make it into a dropdown*/
    .nav-bar{
        display: none;
    }

    /*setting the logo and menu button be in a column
    because of the lacking width space on phones*/
    .top-bar{
        flex-direction: column;
        height: 20vh
    }

    /*hiding the branding cause i want the branding be on top
    and had to create a new one behind the menu button*/
    .branding{
        display: none;
    }

    /*logo and title of website*/
    .mobile-phone-branding{
        border-bottom: solid 2px #97baff;
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #A7C4FF;
    }

    .mobile-phone-branding img{
        width: 230px;
        height: 100px;
    }

    /*a menu button that makes the nav-bar appear*/
    .menu-toggle{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #A7C4FF;
        position: relative;

    }
    .menu-button{
        width: 70%;
        height: 70px;
        border: none;
        border-radius: 20px;
        background-color: #A7C4FF;
    }

    .menu-button img {
        width: 50px;
    }
    .menu-button:hover{
        background-color: #8FA9FF;
    }

    /*button properties*/
    .nav-button{
        border-radius: 0;
        background-color: #94b7ff;
    }

    .mobile-phone-nav-bar{
        box-shadow: 8px 16px 16px 0px rgba(0,0,0,0.2);
        background-color: #A7C4FF;
        width: 100%;
        top: 70px;
    }

    /*hiding the dropdown button we used in desktop
    and tablet mode and changing with a simple <a>
    link that goes to the page with all the trains*/
    .train-elements, .tablet-train-dropdown{
        display: none;
    }

    #mobile-phone-train-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }



    /*a class JS uses to display the dropdown when pressing the button*/
    .show-nav-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #94b7ff;
    }

}

